.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.button {
    cursor: pointer;
    border: none;
    padding: 5px;
    margin: 0 5px;
}

.increase {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 15px;
    height: 40px;
    width: 40px;
}

.decrease {
    background-color: red;
    color: white;
    margin-left: 15px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    width: 40px;
}

.increase:hover {
    background-color: darkgreen;
}

.decrease:hover {
    background-color: darkred;
}

.gift {
    color: green;
    font-weight: bold;
}